html, body {
  margin: 0;
  height: 100%;
}

//shapes.js
line {
  stroke:red;
}

g.group0 path, 
g.group0 circle {
  stroke:red;
  fill:none;
}

g.hidden line,
g.hidden path {
  display: none;
}

path {
  stroke: green;
  stroke-width: 2px;
}

//voronoi
g.polygons{
  fill: white;
}

g.polygons path {
  fill: white;
  stroke: lightsteelblue;
}

g.polygons path:hover {
	fill: yellow;
}

g.fuel circle {
  fill: steelblue;
}